@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  .bg-gradient-custom {
    background-image: linear-gradient(
      to right,
      theme('colors.indigo.400'),
      theme('colors.indigo.100'),
      theme('colors.sky.400'),
      theme('colors.fuchsia.400')
    );
  }
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: josefin sans;
  /* height: 75vh; */
}

html {
  scroll-behavior: smooth;
}

#divFadeIn {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; 
}